.resume-container {
  height: 100%;
  width: 100%;
  z-index: 98;
  .title {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;

    h1 {
      font-size: 3em;
      color: white;
      font-weight: 700;
    }

    span {
      color: #25ca4e !important;
      font-size: 2em;
    }
  }

  .caption {
    display: flex;
    flex-direction: column;
    align-items: center;

      display: flex;
      flex-direction: column;
      align-items: center;

      h1 {
        font-size: 2em;
        color: white;
        font-weight: 700;
      }

      span {
        color: #25ca4e !important;
        font-size: 2em;
      }
 
  }

  .resumee-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 5em;

    .experience-card {
      background-color: #101010;
      height: 420px;
      width: 380px;
      border-radius: 10px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      .experience {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 15px;
        .left {
          span {
            color: #25ca4e;
            font-size: 30px;
          }
        }

        .right {
          margin-left: 10px;
          h3 {
            color: white;
            font-size: 1.2em;
          }
          h4 {
            color: #25ca4e;
            font-size: 0.9em;
            margin-top: 2px;
          }
          p {
            color: white;
            margin-top: 2px;
          }
        }
      }
    }

    .education-card {
      background-color: #101010;
      height: 420px;
      width: 380px;
      border-radius: 10px;
      display: flex;
      flex-direction: column;
      justify-content: center;

      .education{
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 15px;
        .left {
          span {
            color: #25ca4e;
            font-size: 30px;
          }
        }

        .right {
          margin-left: 10px;
          h3 {
            color: white;
            font-size: 1.2em;
          }
          h4 {
            color: #25ca4e;
            font-size: 0.9em;
            margin-top: 2px;
          }
          p {
            color: white;
            margin-top: 2px;
          }
        }
      }
    }
  }

.skills-container{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  
  .skills-card{
    background-color: #101010;
        height: 250px;
        width: 500px;
        border-radius: 10px;
        margin: 10px;

        h3{
          color: white;
          display: flex;
          justify-content: center;
          padding: 10px;
          font-size: 1.8em;
        }

        .imgs{
          display: flex;
          flex-wrap: wrap;
          justify-content: space-evenly;
          align-items: center;
          margin-top: 30px;

          #html{
            height: 120px;
            &:hover{
              transform: scale(1.15);
              transition: all .3s ease-in-out;
            }
          }

          #jsx{
          height: 80px;
          &:hover{
            transform: scale(1.15);
            transition: all .3s ease-in-out;
          }
          }

          #css{
            height: 80px;
            &:hover{
              transform: scale(1.15);
              transition: all .3s ease-in-out;
            }
          }

          #sass{
            height: 60px;
            &:hover{
              transform: scale(1.15);
              transition: all .3s ease-in-out;
            }
          }

          #boot{
            height: 80px;
            &:hover{
              transform: scale(1.15);
              transition: all .3s ease-in-out;
            }
          }
          #mat{
            height: 50px;
            &:hover{
              transform: scale(1.15);
              transition: all .3s ease-in-out;
            }
          }

          #js{
            height: 80px;
            &:hover{
              transform: scale(1.15);
              transition: all .3s ease-in-out;
            }
          }
          #react{
            height: 80px;
            &:hover{
              transform: scale(1.15);
              transition: all .3s ease-in-out;
            }
          }
          #node {
            height: 80px;
            &:hover{
              transform: scale(1.15);
              transition: all .3s ease-in-out;
            }
          }
          #sql{
            height: 80px;
            &:hover{
              transform: scale(1.15);
              transition: all .3s ease-in-out;
            }
          }
          #mongo{
            height: 80px;
            &:hover{
              transform: scale(1.15);
              transition: all .3s ease-in-out;
            }
          }

          
        }
    }
}

    
  }
